.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #007A7A;
}

#menu{
  color: #007A7A;
}

#login{
  /* background-color: #B4761A; */
  color: #007A7A;
  outline-color: #007A7A;
  border-color: #007A7A;
}

#register{
  /* background-color: #B4761A; */
  color: #007A7A;
  outline-color: #007A7A;
  border-color: #007A7A;
}

#edit{
  /* background-color: #B4761A; */
  color: #007A7A;
  outline-color: #007A7A;
  border-color: #007A7A;
}

/* form{
  color: #C9B79C;
  border-color: #C9B79C;
}

form #email{

} */

.TemporaryDrawer #menu{
    background-color: #007A7A
}